{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Shop Name</h1>
      <div class="list-group">
        {% for category in categories %}
        <a href="{% url 'core:product_list_by_category' category.name %}" class="list-group-item"> {{category.name}} </a>
        {% endfor %}
      </div>

    </div>

    <div class="col-lg-9">
          <!-- /.col-lg-3 -->
<br>
<br>
<br>
      <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-8">
            <a href="#"><img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'core:product_detail' product.id product.slug %}"> {{product.name}} </a>
              </h4>
              <h5>${{ product.price }}</h5>
              <p class="card-text">{{ product.description }}</p>
            </div>
          </div>
        </div>
        {% empty %}
        no products yet
        {% endfor %}
      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% include 'inc/footer.html' %}

{% endblock %}